.header {
	position: relative;
	display: flex;
	justify-content: center;
	top: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(0deg, $grayish-blue, rgba(18, 37, 52, 0.16)),
		url('../../Assets/images/man-consulting.jpeg');
	background-size: cover;
	color: $white;

	a {
		color: $white;
		padding: 1rem;
		font-size: 0.9rem;
		font-weight: 300;
		letter-spacing: 0.06rem;
	}

	/* -------------------------------------------------------------------------- */
	/*                                Logo && Menu bar                           */
	/* -------------------------------------------------------------------------- */

	.nav {
		display: flex;
		position: fixed;
		flex-direction: column;
		align-items: center;
		background: $menu-blue;
		width: 100%;
		transition: padding 200ms linear;
		z-index: 999;

		@media screen and (min-width: 999px) {
			width: 92%;
			position: absolute;
			background: transparent;
			padding: 1rem 0rem 0.2rem;
			margin: auto;
			animation: none;
			border-bottom: 1px solid $white;
		}

		@media screen and (min-width: 1241px) {
			padding: 2.7rem 0rem 1.1rem;
			flex-direction: row;
		}

		.logoMenuIcon {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 0 3rem;
			width: 100%;

			@media screen and (min-width: 999px) {
				width: 30%;
				padding: 0;
				justify-content: center;
				min-width: 18rem;
				.menuIcon {
					display: none;
				}
			}

			@media screen and (min-width: 1199px) {
				justify-content: space-between;
			}

			.logoContainer {
				padding: 0;
				text-decoration: none;
				.logo {
					display: flex;
					align-items: center;

					.companyName {
						margin-left: 0.3rem;
						padding: 1rem;
						letter-spacing: 0.07rem;
						font-weight: 300;
						line-height: 1.4rem;

						p {
							text-transform: uppercase;
							font-size: 0.8rem;
							letter-spacing: 0.16rem;
						}
					}
				}
			}
		}

		/* -------------------------------------------------------------------------- */
		/*                                 Nav Links                                 */
		/* -------------------------------------------------------------------------- */

		.menu {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-end;
			text-align: center;
			overflow: hidden;
			width: 100%;

			&.hideMenu {
				overflow: hidden;
				height: 0;
				transition: height 200ms linear;
			}

			&.showMenu {
				height: 27rem;
				transition: height 200ms linear;
			}

			@media screen and (min-width: 999px) {
				flex-direction: row;
				animation: none 300ms linear;
				text-align: right;

				&.hideMenu {
					overflow: hidden;
					height: 5rem;
				}

				&.showMenu {
					height: 5rem;
				}
			}

			.menuLinks {
				display: flex;
				flex-direction: column;
				padding: 1rem;
				width: 96%;
				justify-content: flex-end;
				align-items: center;

				a {
					text-transform: uppercase;
					text-decoration: none;
					width: max-content;
					@include linkHover($font-weight: 300);
				}

				@media screen and (min-width: 999px) {
					justify-content: space-around;
					max-width: 55rem;
					flex-direction: row;
					margin: 0.2rem 0;
					a {
						padding: 1rem;
					}
				}
			}

			.menuActions {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				button {
					@include buttons($width: 9.9, $height: 2.5, $background: $white, $color: $blue);

					&:hover {
						@include hover($blue, $white);
					}
				}

				@media screen and (min-width: 999px) {
					flex-direction: row;
				}

				/* -------------------------------------------------------------------------- */
				/*                            Search bar in Menu bar                           */
				/* -------------------------------------------------------------------------- */

				.search {
					margin: 1.3rem;
					position: relative;
					svg {
						z-index: 999;
						margin-left: -2.1rem;
						margin-top: 0.8rem;
						&:hover {
							cursor: pointer;
						}
					}

					.toggleSearch {
						display: flex;

						input[type="text"] {
							width: 3rem;
							height: 3rem;
							background: transparent;
							border: 2px solid $white;
							border-radius: 50px;
							// position: relative;
							right: 0;
							letter-spacing: 0.1rem;
							color: transparent;
							transition: width 200ms linear;
							border: 2px solid $white;
							margin-left: -0.5rem;

							&::placeholder {
								color: transparent;
							}

							&.openSearch {
								padding: 1rem 4rem;
								background: $search-blue;
								width: 50vw;
								color: $white;
								z-index: 990;
								border: none;
								right: -0.8rem;
								transition: width 200ms linear;
								border: 2px solid $white;

								&::placeholder {
									color: rgba(255, 255, 255, 0.432);
									font-style: italic;
								}

								@media screen and (min-width: 768px) {
									right: 0;
									border: 2px solid $white;
								}
							}

							&:focus {
								outline: none;
							}
						}
					}
				}
			}
		}
	}

	/* -------------------------------------------------------------------------- */
	/*                          Call to Action in header                          */
	/* -------------------------------------------------------------------------- */

	.cta {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
		width: 100%;
		font-weight: 300;
		letter-spacing: 0.2rem;
		padding: 0 3rem;

		@media screen and (min-width: 999px) {
			height: 95%;
			text-align: left;
			align-items: flex-start;
			justify-content: center;
			padding: 2% 10rem 0;
		}

		.ctaMessage {
			padding: 1rem 0;

			h1 {
				text-transform: uppercase;
				font-size: 4vmax;
				line-height: 6vmax;

				span:last-of-type {
					font-weight: 700;
				}
			}

			@media screen and (min-width: 768px) {
				margin-top: 6rem;
				h1 {
					font-size: 4vmax;
					line-height: 6vmax;
				}
			}

			@media screen and (min-width: 999px) {
				h1 {
					font-size: 3vmax;
					line-height: 4.6vmax;
				}
			}
		}

		.ctaLinks {
			display: flex;
			flex-direction: column;
			align-items: center;
			letter-spacing: 0.02rem;
			font-size: 0.85rem;
			p {
				padding: 1rem;
			}
			@media screen and (min-width: 999px) {
				flex-direction: row;
				margin: 2rem 0;
			}

			a {
				padding: 0;
				@include linkHover($text-decoration: none);
			}

			button {
				@include buttons(13.7, 3.7, $white, $blue);
				@include borders($pixel: 3, $color: $bright-blue);
				// margin-bottom: 2rem;
				&:hover {
					@include hover($white, $blue);
				}

				@media screen and (min-width: 768px) {
					// margin-right: 2rem;
					margin-bottom: 0;
				}
			}
		}
	}

	/* -------------------------------------------------------------------------- */
	/*                          "How can we help" prompt                         */
	/* -------------------------------------------------------------------------- */

	.subMenu {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		bottom: 0;
		width: 100%;
		background: rgba(21, 57, 94, 0.7);
		line-height: 1.3rem;
		&:hover {
			cursor: pointer;
		}

		@media (min-width: 999px) {
			height: 74px;
			flex-direction: row;
			justify-content: flex-start;
			padding-left: 9.55%;
			&:hover {
				cursor: auto;
			}
		}

		.subMenuPrompt {
			display: flex;
			align-items: center;
			flex-direction: row;
			margin-left: -20px;

			.subMenuIcon {
				animation: pulse 1200ms infinite;
				@media screen and (min-width: 999px) {
					animation: none; // Disables the submenu icon pulse on desktop view.
				}
			}
			@media (min-width: 999px) {
				flex-direction: row;
				margin-left: 0;
				> * {
					margin-left: 1.7rem;
				}
			}
		}
		.subMenuLinks {
			display: flex;
			padding: 0 1rem;
			text-align: center;
			flex-direction: column;

			&.showSubMenu {
				height: 9rem;
				transition: height 200ms linear;
			}
			&.hideSubMenu {
				height: 0.3rem;
				transition: height 200ms linear;
				overflow: hidden;
			}
			a {
				padding: 0.7rem;
				font-size: 0.9rem;
				@include linkHover($text-decoration: none);
			}

			@media (min-width: 999px) {
				flex-direction: row;

				a {
					padding: 1rem;
				}
			}
			@media screen and (min-width: 999px) {
				/* -------------------------------------------------------------------------- */
				/*                     Disables the SubMenu display toggle                    */
				/* -------------------------------------------------------------------------- */
				&.showSubMenu {
					height: 3.2rem;
				}
				&.hideSubMenu {
					height: 3.2rem;
				}
			}
		}
	}
}
