$grayish-blue: rgba(21, 44, 68, 0.78);
$grayish-dark-blue: rgba(18, 37, 52, 0.16);
$light-blue: #1793d420;
$white: #fff;
$blue: #1793d4;
$bright-blue: #47bffe;
$orange: #fca656;
$yellow: #f3eee5;
$black: #000;
