$grayish-blue: rgba(21, 44, 68, 0.78);
$menu-blue: rgba(21, 44, 68, 0.9);
$search-blue: rgba(21, 44, 68, 1);
$grayish-dark-blue: rgba(18, 37, 52, 0.16);
$gray: #707071;
$light-blue: #ddecff;
$white: #fff;
$blue: #1793d4;
$bright-blue: #47bffe;
$orange: #fca656;
$yellow: #f3eee5;
$black: #000;
