/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
html,
body,
div {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'defaultFont';
  src: url("https://fonts.googleapis.com/css?family=Open+Sans:300, 300italic, 400, 400italic, 700"); }

html {
  font-family: 'defaultFont', sans-serif; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.3rem; }

h4 {
  font-size: 1.4rem;
  letter-spacing: 0.03rem; }

h5 {
  font-size: 1.3rem; }

body {
  font-size: 16px; }

img {
  width: 100%; }

@keyframes showMenu {
  0% {
    height: 0px; }
  100% {
    height: 25rem; } }

@keyframes hideMenu {
  0% {
    height: 25rem; }
  100% {
    height: 0px; } }

.app {
  max-width: 1440px;
  margin: auto;
  position: relative; }

.header {
  position: relative;
  top: 0;
  width: 100%;
  max-height: 908px;
  height: 100vh;
  background: linear-gradient(0deg, rgba(21, 44, 68, 0.78), rgba(18, 37, 52, 0.16)), url("../../Assets/images/man-consulting.jpeg");
  background-size: cover;
  color: #fff; }
  .header a {
    color: #fff;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.06rem; }
  .header .nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background: rgba(21, 44, 68, 0.78);
    width: 100%;
    transition: padding 200ms linear;
    z-index: 999; }
    @media screen and (min-width: 999px) {
      .header .nav {
        position: absolute;
        background: transparent;
        flex-direction: row;
        padding: 2.7rem 0rem 1.1rem;
        margin: 0 6rem;
        animation: none;
        border-bottom: 1px solid #fff;
        width: stretch; } }
    .header .nav .logoMenuIcon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 3rem; }
      @media screen and (min-width: 999px) {
        .header .nav .logoMenuIcon {
          width: 25%;
          padding: 0; }
          .header .nav .logoMenuIcon .menuIcon {
            display: none; } }
      .header .nav .logoMenuIcon .logoContainer {
        text-decoration: none;
        padding: 0;
        min-width: 17rem; }
        .header .nav .logoMenuIcon .logoContainer .logo {
          display: flex;
          align-items: center; }
          .header .nav .logoMenuIcon .logoContainer .logo .companyName {
            margin-left: 0.3rem;
            padding: 1rem;
            letter-spacing: 0.07rem;
            font-weight: 300;
            line-height: 1.4rem; }
            .header .nav .logoMenuIcon .logoContainer .logo .companyName p {
              text-transform: uppercase;
              font-size: 0.8rem;
              letter-spacing: 0.16rem; }
    .header .nav .menu {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      animation: showMenu 300ms forwards;
      overflow: hidden; }
      @media screen and (min-width: 999px) {
        .header .nav .menu {
          flex-direction: row;
          animation: none 300ms linear; } }
      .header .nav .menu .menuLinks {
        display: flex;
        flex-direction: column;
        margin: 1.6rem; }
        .header .nav .menu .menuLinks a {
          text-transform: uppercase;
          text-decoration: none; }
        @media screen and (min-width: 999px) {
          .header .nav .menu .menuLinks {
            flex-direction: row; }
            .header .nav .menu .menuLinks li {
              padding: 1rem; } }
      .header .nav .menu .menuActions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .header .nav .menu .menuActions button {
          width: 9.9rem;
          height: 2.5rem;
          color: #1793d4;
          background: #fff;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 0.1rem;
          font-size: 0.8rem;
          border-radius: 4px;
          border: 2px solid transparent;
          cursor: pointer; }
          .header .nav .menu .menuActions button:active, .header .nav .menu .menuActions button:focus {
            outline: none; }
          .header .nav .menu .menuActions button:hover {
            background: #1793d4;
            color: #fff; }
        @media screen and (min-width: 768px) {
          .header .nav .menu .menuActions {
            padding-left: 2rem; } }
        @media screen and (min-width: 999px) {
          .header .nav .menu .menuActions {
            flex-direction: row; } }
        .header .nav .menu .menuActions .search {
          margin: 1.3rem; }
      .header .nav .menu.hideMenu {
        overflow: hidden;
        animation: hideMenu 300ms forwards; }
  .header .cta {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 4.4rem;
    font-weight: 300;
    letter-spacing: 0.2rem; }
    @media screen and (min-width: 999px) {
      .header .cta {
        height: 95%;
        text-align: left;
        align-items: flex-start;
        justify-content: center;
        padding: 10% 10rem 0; } }
    .header .cta .ctaMessage {
      padding: 1rem 0;
      margin-top: -6rem; }
      .header .cta .ctaMessage h1 {
        text-transform: uppercase;
        font-size: 3vmax;
        line-height: 4.4rem; }
        .header .cta .ctaMessage h1:last-child {
          font-weight: 700; }
      @media screen and (min-width: 768px) {
        .header .cta .ctaMessage {
          margin-top: -22px; } }
    .header .cta .ctaLinks {
      display: flex;
      flex-direction: column;
      align-items: center;
      letter-spacing: 0.02rem;
      font-size: 0.85rem; }
      @media screen and (min-width: 999px) {
        .header .cta .ctaLinks {
          flex-direction: row;
          margin: 2rem 0; } }
      .header .cta .ctaLinks a {
        padding: 0; }
      .header .cta .ctaLinks button {
        width: 13.7rem;
        height: 3.7rem;
        color: #fff;
        background: #1793d4;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        border-radius: 4px;
        border: 2px solid transparent;
        cursor: pointer;
        border: #47bffe solid 3px;
        border-radius: 4px; }
        .header .cta .ctaLinks button:active, .header .cta .ctaLinks button:focus {
          outline: none; }
        .header .cta .ctaLinks button:hover {
          background: #fff;
          color: #1793d4; }
        @media screen and (min-width: 768px) {
          .header .cta .ctaLinks button {
            margin-right: 2rem; } }
  .header .subMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background: rgba(21, 57, 94, 0.7);
    line-height: 1.3rem;
    padding-left: 0; }
    @media (min-width: 768px) {
      .header .subMenu {
        height: 74px;
        flex-direction: row;
        justify-content: flex-start; } }
    @media (min-width: 999px) {
      .header .subMenu {
        padding-left: 9.55%; } }
    .header .subMenu .subMenuPrompt {
      display: flex;
      align-items: center;
      flex-direction: column; }
      @media (min-width: 768px) {
        .header .subMenu .subMenuPrompt {
          flex-direction: row;
          margin-left: 0; }
          .header .subMenu .subMenuPrompt > * {
            margin-left: 1.7rem; } }
    .header .subMenu .subMenuLinks {
      display: flex;
      text-align: center;
      padding: 0 1rem; }
      .header .subMenu .subMenuLinks a {
        padding: 0.1;
        font-size: 0.9rem; }
      @media (min-width: 768px) {
        .header .subMenu .subMenuLinks {
          flex-direction: row; }
          .header .subMenu .subMenuLinks a {
            padding: 1rem; } }

.mainContent {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
  background: #1793d420;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 0; }
  .mainContent .card {
    position: relative;
    display: flex;
    width: 80%;
    height: auto;
    padding: 1.6rem;
    margin: 2rem 1rem;
    background: #fff;
    flex-direction: column;
    align-items: center; }
    .mainContent .card .cardImage {
      height: 13rem;
      overflow: hidden; }
    .mainContent .card .cardDesc {
      padding: 1.8rem 1.3rem 0.7rem;
      height: 59%; }
      .mainContent .card .cardDesc h4 {
        display: inline;
        color: #1793d4;
        text-transform: uppercase;
        font-weight: 300; }
        .mainContent .card .cardDesc h4:last-of-type {
          font-weight: 700; }
      .mainContent .card .cardDesc p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 1.4rem 0; }
    .mainContent .card .cardButton {
      position: absolute;
      bottom: -1.25rem; }
      .mainContent .card .cardButton button {
        width: 19rem;
        height: 3.1rem;
        color: #fff;
        background: #fca656;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.1rem;
        font-size: 0.8rem;
        border-radius: 4px;
        border: 2px solid transparent;
        cursor: pointer;
        border: transparent none 0px;
        border-radius: 4px; }
        .mainContent .card .cardButton button:active, .mainContent .card .cardButton button:focus {
          outline: none; }
        .mainContent .card .cardButton button:hover {
          background: #fff;
          color: #fca656;
          border: #fca656 solid 3px;
          border-radius: 4px; }
  @media screen and (min-width: 999px) {
    .mainContent {
      flex-direction: row;
      padding: 6rem 3%; }
      .mainContent .card {
        width: 29%;
        min-width: 14rem;
        margin: 0rem; } }
  @media screen and (min-width: 1199px) {
    .mainContent {
      padding: 6rem 5.5rem; }
      .mainContent .card {
        width: 29%;
        min-width: 14rem;
        margin: 0rem; } }

footer {
  text-align: center; }
  footer .contact {
    display: flex;
    flex-direction: column;
    background: #f3eee5; }
    footer .contact > div {
      padding: 3.6rem 2rem; }
    footer .contact .phoneEmail {
      background: #1793d4;
      color: #fff;
      line-height: 2.7rem;
      min-width: 20%;
      padding: 4rem 3.28rem; }
      footer .contact .phoneEmail a {
        color: #fff; }
    footer .contact .addressSocial {
      display: flex;
      flex-direction: row;
      justify-content: center;
      line-height: 1.9rem;
      padding-right: 0; }
      footer .contact .addressSocial a {
        color: #000; }
      footer .contact .addressSocial address {
        margin-right: 1rem; }
        footer .contact .addressSocial address div {
          display: flex;
          flex-direction: column; }
    footer .contact .spacer {
      display: none; }
    footer .contact .socialMedia img {
      margin: 0 0.6rem;
      width: 3rem; }
  footer .copyright {
    display: flex;
    flex-direction: column;
    background: #1793d4;
    color: #fff;
    font-size: 0.7rem;
    padding: 1.9rem;
    line-height: 1.3rem; }
    footer .copyright a {
      color: #fff; }
  @media screen and (min-width: 799px) {
    footer .contact {
      position: relative;
      flex-direction: row; }
      footer .contact .phoneEmail {
        position: absolute;
        height: 110%;
        bottom: 0;
        left: 7.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      footer .contact .addressSocial {
        align-items: center;
        line-height: 2.5rem;
        flex-direction: column;
        width: 100%; }
        footer .contact .addressSocial address div {
          display: flex;
          flex-direction: column; }
        footer .contact .addressSocial address h4 {
          font-size: 2vw; }
      footer .contact .spacer {
        display: block;
        width: 40%;
        min-width: 31rem; }
    footer .copyright {
      width: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      footer .copyright p {
        font-size: 0.7rem;
        font-weight: 300;
        letter-spacing: 0.045rem; }
        footer .copyright p:not(:last-child) {
          content: ''; }
          footer .copyright p:not(:last-child)::after {
            content: '';
            display: inline;
            padding: 0 0.7rem; } }
  @media screen and (min-width: 999px) {
    footer .copyright {
      flex-direction: row; }
      footer .copyright p:not(:last-child) {
        content: ''; }
        footer .copyright p:not(:last-child)::after {
          content: '|';
          display: inline;
          padding: 0 0.7rem; } }
  @media screen and (min-width: 1199px) {
    footer .contact .addressSocial {
      flex-direction: row; }
      footer .contact .addressSocial address div {
        display: flex;
        flex-direction: row; }
      footer .contact .addressSocial address h4 {
        font-size: 1.5rem; } }
